
  <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav mode="push" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
        <div class="drawer-layout">
          <div class="top-section">
              <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Your Name</mat-card-title>
                    <mat-card-subtitle>yourname@email.com</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
          </div>
            <div class="drawer-menu-list">
                <mat-divider></mat-divider>
                
                  <mat-nav-list dense>
                      <mat-list-item *ngFor="let link of menuList">
                          <a matLine href="{{link.link}}">
                            <div  class="menu-item">
                              <mat-icon>{{ link.icon }}</mat-icon>
                              <div class="menu-name"> {{ link.name }}</div>
                            </div>
                         </a>
                         
                      </mat-list-item>
                  </mat-nav-list>
                <mat-divider></mat-divider>
               
            </div>
            <div class="bottom-section">
                <mat-card class="example-card">
                   <mat-card-actions>
                        <div class="button-row">
                            <button mat-icon-button>
                              <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
                            </button>
                            <button mat-icon-button color="primary">
                              <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
                            </button>
                            <button mat-icon-button color="accent">
                              <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
                            </button>
                            <button mat-icon-button color="warn">
                              <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
                            </button>
                            <button mat-icon-button disabled>
                              <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
                            </button>
                          </div>
                      </mat-card-actions>
                  
                  </mat-card>
            </div>
        </div>
      </mat-sidenav>
    
      <mat-sidenav-content>
        <app-navbar (onSideNavClick)="toggleMenu(sidenav)"></app-navbar>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>



<!-- <mat-tab-group>
  <mat-tab *ngFor="let menu of menuList" label="{{menu.name}}">
    {{menu.placeholder}}
  </mat-tab>
</mat-tab-group> -->

  